*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    color: #17191e;
    background-color: #ffffff;
}

p,
a {
    margin-top: 0;
    margin-bottom: 0;
    color: #181a1f;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.0752em;
}

h4 {
    margin-top: 0;
    margin-bottom: 1.7rem;
    color: #ffdb00;
    font-size: 3.125rem;
    line-height: 1.53;
    text-transform: uppercase;
    letter-spacing: 0.07488em;
}
/*  .all {
  background-image: url("tmp/Montreal_design_grid.png");
  background-position-x: 50%;
  background-position-y: 14px;
  background-repeat: no-repeat;
}

.all > *{
  mix-blend-mode: exclusion;
}
 */
button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 700px) {
    button {
        width: 100%;
    }
}

.button {
    display: block;
    margin-top: 2.3rem;
    margin-bottom: 3.3rem;
    border: 1px solid #ffda00;
    border-radius: 4rem;
    padding: 1.5rem 2rem;
    text-align: center;
    font-size: 1.063rem;
    letter-spacing: 0.0743em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff;
}

@media (min-width: 460px) {
    .button {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.button-width-auto {
    width: auto;
    display: inline-block;
}

.button-bottom-space {
    margin-bottom: 4.3rem;
}

.button-dark {
    color: white;
    background-color: #17191e;
}

/* Header */
.header {
    background-color: #17191e;
}

.header-logo {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 4rem;
}

.header-title {
    margin-bottom: 0.65rem;
    margin-top: 2rem;
    font-size: 5rem;
    font-weight: 300;
    color: #ffda00;
    text-transform: uppercase;
    line-height: 1.05;
    letter-spacing: 0.085em;
}

@media (min-width: 630px) {
    .header-title {
        margin-top: 10.875rem;
        font-size: 10.85rem;
    }
}

.header-content {
    margin-bottom: 2rem;
}

@media (min-width: 630px) {
    .header-content {
        margin-bottom: 11rem;
    }
}

.header-text {
    font-size: 0.9375rem;
    line-height: 1.666;
}

/* Quote */
.quote {
    background-color: #ffda00;
    color: #17191e;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    text-align: center;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0;
}

.container-wide {
    max-width: 1920px;
}

.column {
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-content: space-around;
    width: 100%;
}

@media (min-width: 20rem) {
    .column {
        min-width: 16rem;
    }
}

@media (min-width: 26rem) {
    .column-quarter {
        flex-basis: 25%;
        max-width: 25%;
    }
}

@media (min-width: 40rem) {
    .column-third {
        flex-basis: 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 32rem) {
    .column-two-thirds {
        flex-basis: 66.66666%;
        max-width: 66.66666%;
    }
}

@media (min-width: 26rem) {
    .column-five-sixths {
        flex-basis: 83.333333%;
        max-width: 83.333333%;
    }
}

.column-centered {
    margin-right: auto;
    margin-left: auto;
}


/* Services */
.services {
    padding-top: 7.5rem;
    padding-bottom: 1.5rem;
    background-color: #ffffff;
    color: #181a1f;
}

.services-item::before {
    content:" ";
    display: block;
    width: 4.813rem;
    height: 4.813rem;
    margin-bottom: 1.8rem;
    background-color: #ffda00;
    background-size: 27px 26px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.services-item-design::before {
    background-image: url("pencil-black.svg");
}

.services-item-coding::before {
    background-image: url("plug.svg");
}

.services-item-apps::before {
    background-image: url("screen.svg");
}

.services-text {
    letter-spacing: 0.05325em;
}


/* Statistics */
.stats,
.clients {
    background-color: #17191e;
    color: #ffffff;
    padding: 5rem 0 0;
}

.stats-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.8rem;
    margin-bottom: 5.5rem;
    text-align: center;
}

.stats-number {
    display: block;
    margin-bottom: 2.4rem;
    font-size: 3.75rem;
    font-weight: 400;
}

.stats-text {
    font-size: 1.25rem;
    color: #ffdb00;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.stats-item {
    padding-top: 5.6rem;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 50px 50px;
}

.stats-projects {
    background-image: url("bag.svg");
}

.stats-coffee {
    background-image: url("cup.svg");
}

.stats-emails {
    background-image: url("pencil.svg");
}

.stats-awards {
    background-image: url("heart.svg");
}

/* Portfolio */

.portfolio {
    margin-top: 6.4rem;
}
.portfolio-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 6.5rem -15px;
    padding: 0;
}
.portfolio-navigation-item {
    display: block;
    margin: 0.5rem;
    text-decoration: none;
    list-style: none;
}

.portfolio-navigation-link {
    display: block;
    padding: 0.5rem 2.5rem;
    padding: 0.5rem 2.5rem;
    border: 2px solid #ffda00;
    text-decoration: none;
}

.active {
    background-color: #ffda00;
}

/* Project */

.project-description {
    background-color: #ffda00;
    padding: 15% 10%;
}

.project-image {
    display: block;
    margin: 1rem auto;
    width: 250px;
    height: auto;
}

@media (min-width: 900px) {
.project-image {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

.project-title {
    color: #181a1f;
    background-color: #ffda00;
    font-size: 1.875rem;
    letter-spacing: 0.0752em;
    text-transform: none;
}


.project-link {
    display: block;
    margin-top: 3rem;
    padding: 0.5rem 2.2rem;
    border: 1px solid#ffffff;
    width: 11rem;
    text-align: center;
    text-decoration: none;
    line-height: 1.8;
}

@media (min-width: 900px) {
    .project-grid {
        display: grid;
        grid-template-columns: 13fr 13fr 5fr 6fr 13fr;
        grid-template-rows: 1fr 1fr;
    }

    .project-description {
        grid-area: 1 / 2 / 2 / 4;
    }
    .project-one {
        grid-area: 1 / 1 / 3 / 2;
    }

    .project-two {
        grid-area: 1 / 4 / 2 / 6;
    }

    .project-three {
        grid-area: 2 / 2 / 3 / 3;
    }

    .project-four {
        grid-area: 2 / 3 / 3 / 5;
    }

    .project-five {
        grid-area: 2 / 5 / 3 / 6;
    }
}

/* Clients */
.clients {
    background-color: #181a1f;
    padding-top: 6rem;
}

.clients-logo-smaller {
    margin: 2rem;
}


/*Contact section*/

.contact {
    background-color: #ffffff;
    padding-top: 6rem;
}

/* Contact form */

.contact-form {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
@media (min-width: 600px) {
    .contact-form {
        display: flex;
        flex-wrap: wrap;
    }
}

.contact-form-user {
    display: block;
    width: 100%;
}
@media (min-width: 700px) {
    .contact-form-user {
        display: flex;
    }
    .contact-form-user :first-child {
        padding-inline-end: 1rem;
    }
}

.contact-form-field {
    width: 100%;
    margin-bottom: 1rem;
}

.contact-form-label,
.contact-form-input,
.contact-form-textarea {
    display: block;
    width: 100%;
    font-size: 1.25rem;
}

.contact-form-textarea {
    height: 40vh;
}

@media (min-width: 600px) {
    .contact-form-textarea {
        height: auto;
    }
}


.contact-form-label{
    margin-bottom: 0.5rem;
}

input,
textarea {
    margin-bottom: 1.5rem;
    border: 2px solid #17191e;
    padding: 1rem 1.5rem;
}

/* Contact options */

.contact-options {
    background-color: #ffda00;
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
}

.column-contact-options {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.contact-options-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    margin: 2.3rem 2.8rem;
}

@media (min-width: 1596px) {
    .contact-options-card {
        flex-direction: row;
        text-align: left;
    }
}

.contact-options-icon {
    display: block;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    margin-right: 0;
    margin-bottom: 1rem;
    letter-spacing: 0;
    text-align: center;
    line-height: 5rem;
    font-size: 1.6rem;
    color: white;
    background-color: #17191e;
    overflow: hidden;
}

@media (min-width: 1596px) {
    .contact-options-icon {
        margin-right: 1.6rem;
        margin-bottom: 0;
    }
}

/* Footer */

.footer {
    background-color: #17191e;
    text-align: center;
    padding-top: 7.3rem;
    padding-bottom: 6.3rem; /* padding-top - margin-bottom of .footer-icon */
}

.footer-text {
    margin-bottom: 3rem;
    font-size: 1.55rem;
}

.footer-icon {
    display: inline-block;
    margin: 0 0.35rem 1rem;
    width: 2.4rem;
    color: white;
    font-size: 1.2rem;
}

.footer-text-yellow {
    color: #ffda00;
}

/* Utilities */
.margin-bottom-standard {
    margin-bottom: 3rem;
}

.text-white {
    color: #ffffff;
}
